* {
    font-family: 'Roboto', sans-serif !important;
    
}

a {
    text-decoration: none;
}

.container {
    max-width: 1681px;
}

.navbar {
    height: 72px;
    padding: 0px;
}

.nav-link {
    color: #000;
}

.bg-body-tertiary {
    background-color: white !important;
}

.navbar-toggler {
    outline: none !important; 
    box-shadow: none !important; 
    border-width: 0px !important;
    border: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
    outline: none !important; 
    box-shadow: none !important; 
}

.drop-menu {
    z-index: 20 !important;
    background-color: #fff;
}

/* Позиционируем псевдоэлементы для создания крестика */
.navbar-toggler {
    position: relative;
}

.navbar-toggler .navbar-toggler-icon {
    transition: opacity 0.3s ease; /* Плавное исчезновение стандартной иконки */
}

/* Создаем крестик с помощью псевдоэлементов */
.navbar-toggler::before,
.navbar-toggler::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #000; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Скрываем крестик по умолчанию */
    transition: all 0.3s ease;
}

/* Поворачиваем псевдоэлементы для создания крестика */
.navbar-toggler::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.navbar-toggler::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Анимация при открытом меню */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    opacity: 0; /* Прячем стандартную иконку */
}

.navbar-toggler[aria-expanded="true"]::before,
.navbar-toggler[aria-expanded="true"]::after {
    opacity: 1; /* Показываем крестик */
}


/* Герой-секция */

.h1 {
    font-weight: bold;
    font-size: 3.5rem;
}

.h2 {
    font-weight: 400;
    font-size: 2.5rem;
}

.h5 {
    font-weight: 400;
    font-size: 1.5rem;
}

.h6 {
    font-weight: 400;
    font-size: 1.25rem;
}

.p-title {
    font-size: 1.125rem;
}

.hero {
    height: calc(100vh - 72px); /* 100% высоты вьюпорта минус высота шапки */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    color: #fff;
    background-image: url('../img/temp-hero.png.'); /* Замените на путь к вашей картинке */
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4444449a; /* Затемнение фона */
}

.hero-content {
    position: relative;
    z-index: 0;
}

.hero h1 {
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.125rem;
}

/* Остальной контент */
.content {
    padding: 20px;
    background-color: #f9f9f9;
}

.btns-wrap {
padding-top: 20px;
}

.hero-btn-primary {
    padding: 12px 24px;
    color: #000000;
    background: #fff;
    border: 1px solid #fff;
    font-size: 16px;
}

.hero-btn-secondary {
    padding: 12px 24px;
    color: #ffffff;
    background: #ffffff00;
    border: 1px solid #fff;
    font-size: 16px;
    margin-left: 14px;
}

@media screen and (max-width: 332px) {
    .hero-btn-primary {
        padding: 12px 12px;

    }
    
    .hero-btn-secondary {
        padding: 12px 12px;
        margin-left: 8px;
    }
}

@media screen and (max-width: 650px) {
    .h1 {
        font-size: 2.5rem;
    }
    .h2 {
        font-size: 2rem;
    }
    .h5 {
        font-size: 1.25rem;
    }
    .h6 {

        font-size: 1.125rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .p-title {
        font-size: 1rem;
    }
}

.page-block {
    padding: 112px 0px;
}

.page-block-img {
    object-fit: cover;
    height: 100%;
}

.project-card-preview {
    color: #000;
}

.project-card-preview img {
    max-height: 240px;
    object-fit: cover;
    width: 100%;
}